Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
# Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [9]:
# Creating the DataFrame from above data:
df=pd.DataFrame({})
df['job_title']=job_title
df['job_location']=job_location
df['company_name']=company_name
df['experience_required']=experience_required
df

,job_title,job_location,company_name,experience_required
0,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
1,Sr. Business Data Analyst,Bangalore/Bengaluru,Infometry,4-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
4,Manager / Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
5,DATA Analyst- Immediate Joining,Bangalore/Bengaluru(Cox Town),ADVISETREE CONSULTING PRIVATE LIMITED,3-5 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
9,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [11]:
driver.get("https://www.naukri.com/")

In [12]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [13]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [14]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]

In [16]:
# Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [17]:
# Creating the DataFrame from above data:
df=pd.DataFrame({})
df['job_title']=job_title
df['job_location']=job_location
df['company_name']=company_name
df

,job_title,job_location,company_name
0,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
6,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist Lead_Tata Consultancy Services(...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",TATA CONSULTANCY SERVICES (TCS)
9,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get("https://www.naukri.com/")

In [20]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [21]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p")
location.click()

In [24]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p")
salary.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
salary_range=[]

In [26]:
# Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="mt-7 companyInfo subheading lh16"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
# scraping salary from the given page
salary_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_range.append(salary)

In [27]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(salary_range))

10 10 10 10 10

In [28]:
# Creating the DataFrame from above data:
df=pd.DataFrame({})
df['job_title']=job_title
df['job_location']=job_location
df['company_name']=company_name
df['experience_required']=experience_required
df['salary_range']=salary_range
df

,job_title,job_location,company_name,experience_required,salary_range
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro\n3.9\n(26533 Reviews),5-10 Yrs,Not disclosed
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL\n3.8\n(951 Reviews),5-10 Yrs,Not disclosed
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group\n4.1\n(117 Reviews),2-5 Yrs,Not disclosed
3,Data Scientist,Gurgaon/Gurugram,Optum\n4.1\n(1951 Reviews),2-7 Yrs,Not disclosed
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs,Not disclosed
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs,"5,00,000 - 12,00,000 PA."
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra\n3.9\n(900 Reviews),2-4 Yrs,"5,00,000 - 8,00,000 PA."
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,"5,00,000 - 12,00,000 PA."
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs,Not disclosed
9,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES\n4.2\n(10 Reviews),2-7 Yrs,Not disclosed

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [29]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [30]:
driver.get("https://www.flipkart.com/")

In [31]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sunglasses")

In [33]:
# code to click on the search button
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [34]:
# code to extract brand details
prod_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
descriptn = []
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [35]:
# code to click on the next button for page 2
search_2 = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_2.click()

In [36]:
# code to extract brand details
prod_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [37]:
# code to click on the next button for page 3
search_2 = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_2.click()

In [38]:
# code to extract brand details
prod_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.append("No description available")

# code to extract price of the product
prod_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=descriptn[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

Lengths of columns: 120 120 120 120

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,john jacobs,UV Protection Clubmaster Sunglasses (47),"₹4,000",33% off
96,GANSTA,"Night Vision, Riding Glasses Rectangular Sungl...",₹255,80% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
98,Mi,Polarized Wayfarer Sunglasses (Free Size),₹759,24% off
99,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹664,66% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [39]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [40]:
driver.get("https://www.flipkart.com/")

In [41]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("iphone 11")

In [44]:
# code to click on the search button
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [45]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [46]:
url = driver.find_elements(By.XPATH,'//nav[@class="yFHi8N"]//a')

prod_urls=[]
for i in url[:11]:
    prod_urls.append(i.get_attribute('href'))

In [48]:
# extract all the ratings for the iPhone
phone_rating = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
        for j in prod_rating:
            phone_rating.append(j.text)
    except:
        phone_rating.append("---")

# extract all the review summary for the iPhone
review_summary = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_summaries = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
        for j in prod_summaries:
            review_summary.append(j.text)
    except:
        review_summary.append("---")

# extract all the complete descriptive review for the iPhone
full_review = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_reviews = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
        for j in prod_reviews:
            full_review.append(j.text.replace("\n"," "))
    except:
        full_review.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(phone_rating), len(review_summary), len(full_review))

# creating the data frame now
df = pd.DataFrame({})
df['iPhone Rating']=phone_rating[:100]
df['iPhone Review Summary']=review_summary[:100]
df['iPhone Full Review']=full_review[:100]
df

Lengths of columns: 107 110 110

,iPhone Rating,iPhone Review Summary,iPhone Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
96,5,Excellent,Just go for it. This phone is really amazing. ...
97,5,Best in the market!,Don’t expect much from front camera… especiall...
98,5,Super!,This is my first ever iPhone. And I truly don’...
99,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. discount

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https://www.flipkart.com/")

In [58]:
# close the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [59]:
#enter "sneakers" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

#click the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [60]:
#introducing list for brand, product description, price & discount
brand=[]
prod1=[]
prod2=[]
price=[]
discount=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
for page in range(0,3):
    
# Scrapping brand list from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
# Scrapping product description from different pages 
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
        
    for c in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        prod2.append(c.text)
    prod=prod1+prod2
    
# Scrapping price from different pages 
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
        
# Scrapping discount from different pages 
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        discount.append(l.text)
        
#scraping the required data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
# converting scrapped data for first 100 reviews into DataFrame
Sneaker_data=pd.DataFrame({'Brand':brand,'Product Description':prod,'Price':price,'Discount':discount})
Sneaker_data.head(100)

,Brand,Product Description,Price,Discount
0,RESNAPSHOEZONE,Mesh | Ultralightweight | Comfortable | Breath...,₹499,60% off
1,RESNAPSHOEZONE,Puma Smash Wns v2 L Sneakers For Women,₹499,60% off
2,aadi,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹374,81% off
3,PUMA,Sneakers For Men,"₹1,542",55% off
4,Chevit,Sneakers For Women,₹544,71% off
...,...,...,...,...
95,bacca bucci,Shoes For Women's/Ladies/Female/Girls Running ...,"₹1,578",54% off
96,DUNKASTON,Black Gym/Walking/Running Sports Sneakers For Men,₹699,65% off
97,Vellinto,Sneakers For Women,₹499,61% off
98,PUMA,Canvas Sneakers For Men,"₹3,354",39% off
99,FAUSTO,Sneakers For Women,"₹1,274",57% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [49]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
driver.get('https://www.myntra.com/shoes ')

In [51]:
# code to click on the color filter for "Black"
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [53]:
# code to click on the second price filter 
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [54]:
url = driver.find_elements(By.XPATH,'//li[@class="pagination-number"]//a')

# extract all the shoe links from the above search result
shoe_urls=[]
for i in url[:5]:
    shoe_urls.append(i.get_attribute('href'))

Further steps can't be done because "Inspect" icon is not displayed on right-click. As per Mentor's direction, this question need not to be solved

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [108]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [109]:
driver.get(' https://www.amazon.in/ ')

In [110]:
product=driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
product.send_keys("Laptop")

In [112]:
search=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()

In [113]:
# code to click on the CPU filter for "Intel Core i7"
CPU = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/span")
CPU.click()

In [115]:
# code to extract laptop title
ltitle=[]
lappy_title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in lappy_title[:10]:
    ltitle.append(i.text)

# code to extract laptop rating
lrating=[]
lappy_rating = driver.find_elements(By.CLASS_NAME,"a-icon-alt")
for i in lappy_rating[:10]:
    lrating.append(i.get_attribute('textContent'))

# code to extract laptop price
lprice=[]
lappy_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in lappy_price[:10]:
    lprice.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(ltitle), len(lrating), len(lprice))

# creating the data frame now
df = pd.DataFrame({})
df['Laptop Title']=ltitle
df['Laptop Rating']=lrating
df['Laptop Price']=lprice
df

Lengths of columns: 10 10 10

,Laptop Title,Laptop Rating,Laptop Price
0,"LG Gram Intel Evo 11th Gen Core i7 17""(43cm)Ul...",4.7 out of 5 stars,"92,999"
1,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,4.5 out of 5 stars,"84,990"
2,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5 stars,"62,990"
3,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.6 out of 5 stars,"54,840"
4,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"89,990"
5,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,5.0 out of 5 stars,"81,990"
6,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,4.1 out of 5 stars,"82,400"
7,"(Renewed) DELL Alienware x14 Gaming Laptop, In...",4.0 out of 5 stars,"1,69,992"
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,3.8 out of 5 stars,"87,990"
9,Lenovo IdeaPad Gaming3 Laptop Intel i7 10th Ge...,3.6 out of 5 stars,"76,588"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get('https://www.ambitionbox.com/')

In [23]:
# clicking on "Job" options
jobs=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
jobs.click()

In [24]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

# clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [25]:
# clicking on location icon
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
location.click()

# entering "Noida" for location search
place=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [26]:
# clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [27]:
# Scrapping company name from the webpage
company=[]
for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'): #scrapping company name from page
    company.append(i.text)

# Scrapping No. of days ago when job was posted from the webpage
day=[]
for j in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'):
    day.append(j.text)
del day[1:20:2] 
    
# Scrapping Rating of the Company from the webpage
rating=[]
for k in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    rating.append(k.text)

# converting scrapped data into DataFrame
Jobs=pd.DataFrame({'Company Name':company, 'No. of Days ago when job was posted':day, 'Rating':rating})
Jobs

,Company Name,No. of Days ago when job was posted,Rating
0,CBRE South Asia Pvt Ltd,8d ago,4.3
1,GENPACT India Private Limited,1d ago,4.0
2,Genpact,3d ago,4.0
3,Ericsson India Global Services Pvt. Ltd.,18d ago,4.3
4,GENPACT India Private Limited,11d ago,4.0
5,Optum Global Solutions (India) Private Limited,15d ago,4.1
6,Optum Global Solutions (India) Private Limited,16d ago,4.1
7,Ericsson India Global Services Pvt. Ltd.,28d ago,4.3
8,SOPRA STERIA INDIA LIMITED,17d ago,4.2
9,EXL Services.com ( I ) Pvt. Ltd.,17d ago,3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [28]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [29]:
driver.get('https://www.ambitionbox.com/')

In [30]:
# select salary option
salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary.click()

# select first option from drop down menu
browser=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')
browser.click()

In [31]:
# enter 'Data Scientist' in Search job profile
job_profile=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
job_profile.send_keys('Data Scientist')

In [32]:
# select first option from drop down menu
select=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
select.click()

In [33]:
# Scrape company name from the webpage
comp=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]/a'):
    comp.append(i.text.split("\n"))
    
# merge sub lists into a single list and delete even place items to get required data
company=sum(comp,[])
del company[1:20:2]

# Scrape total salary record from the webpage
sal_record=[]
for a in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]/span'):
    sal_record.append(a.text.replace('(','').replace(')',''))

# Scrape Average salary from the webpage
avg_sal=[]
for b in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'): 
    avg_sal.append(b.text)

# Scrape Minimum Salary & Maximum Salary from the webpage
min_sal=[]
max_sal=[]
for c in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): 
    min_sal.append(c.text)
    max_sal.append(c.text)
del min_sal[1:20:2]
del max_sal[0:20:2]

# Scrape Experience required data from the webpage
exp=[]
for d in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'): 
    exp.append(d.text.split('('))
    
# merge sub lists into a single list and delete even place items to get required data   
req_exp=sum(exp,[]) 
del req_exp[1:20:2]

# convert scrapped data into DataFrame
df=pd.DataFrame({'Company Name':company,'Total Salary Record':sal_record,'Average Salary':avg_sal,'Minimum Salary':min_sal,'Maximum Salary':max_sal,'Experience Required':req_exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 22 salaries,₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 53 salaries,₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience
2,Optum,based on 48 salaries,₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 33 salaries,₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 109 salaries,₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,based on 65 salaries,₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Legato Health Technologies,based on 11 salaries,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
7,Tredence,based on 12 salaries,₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience
8,UnitedHealth,based on 91 salaries,₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yrs experience
9,Ford Motor,based on 21 salaries,₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yrs experience

Assignment done