# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# import necessary libraries at once

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [7]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of url 

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [8]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

#scrapping name
try:
    for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Upload Date
try:
    for i in driver.find_elements(By.XPATH,' /html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')

    
# Scraping Views of videos
try:
    for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [9]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [10]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.15

In [11]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [13]:
driver.maximize_window()
time.sleep(2)

In [14]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [15]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
     for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [16]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
2,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Greenfield International Stadium,",28 SEP 2022,7:30 PM

In [17]:
driver.close()

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:
A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [3]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:     #handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [4]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [7]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p/strong'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p'):
    desc.append(i.text)

In [8]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name[0:41]
Selenium_Exception['Description']=desc[0:41]
Selenium_Exception

,Exception name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
1,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
2,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
3,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
4,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
5,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
6,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
7,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
8,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
9,10. WebDriverException:,10. WebDriverException: This Exception takes p...
10,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
11,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
12,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
13,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
14,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
15,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
16,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
17,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
18,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
19,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
20,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
21,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
22,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
23,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
24,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
25,26. JsonException:,26. JsonException: It occurs when you afford t...
26,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
27,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
28,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
29,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
30,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
31,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
32,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
33,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
34,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
35,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
36,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
37,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
38,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
39,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...
40,41. UnsupportedCommandException:,41. UnsupportedCommandException: This occurs w...

In [9]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [49]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=(' http://statisticstimes.com/ ')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [50]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [51]:
 #Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [52]:
#Clicking on India
exception_handling=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
try:
    exception_handling.click()
except ElementNotInteractableException: 
    driver.get(exception_handling.get_attribute('href'))

In [54]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [55]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [56]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

In [57]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language use

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [67]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://github.com/explore')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [68]:
# Click on explore

explore = driver.find_element(By.XPATH,'/html/body/div[4]/main/div[1]/nav/div/a[1]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [69]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [70]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [71]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [72]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [73]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [74]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,pocketbase / pocketbase,Open Source realtime backend in 1 file,15,"[Go, Svelte, SCSS, JavaScript, HTML, Shell]"
1,alura / techguide,TechGuide main repository with the code that g...,8,"[TypeScript, JavaScript]"
2,danielgindi / Charts,Beautiful charts for iOS/tvOS/OSX! The Apple s...,150,"[Swift, Objective-C, Other]"
3,ethereum / ethereum-org-website,Ethereum.org is a primary online resource for ...,919,"[Markdown, TypeScript]"
4,revanced / revanced-manager,💊 The official ReVanced Manager,5,"[Dart, Kotlin]"
5,remix-run / react-router,Declarative routing for React,773,"[TypeScript, JavaScript]"
6,PaddlePaddle / PaddleHub,Awesome pre-trained models toolkit based on Pa...,56,"[Python, Other]"
7,malwaredllc / byob,An open-source post-exploitation framework for...,28,"[Python, HTML, Shell, PHP]"
8,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",11,"[Rust, Other]"
9,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,67,[JavaScript]
10,hoppscotch / hoppscotch,👽 Open source API development ecosystem - http...,193,"[Vue, TypeScript, JavaScript, SCSS]"
11,YangLing0818 / Diffusion-Models-Papers-Survey-...,"Diffusion model papers, survey, and taxonomy",-,[]
12,dotnet / core,Home repository for .NET Core,302,"[PowerShell, Shell]"
13,Alamofire / Alamofire,Elegant HTTP Networking in Swift,240,[Swift]
14,protocolbuffers / protobuf,Protocol Buffers - Google's data interchange f...,879,"[C++, C#, Java, Objective-C, C, Python, Other]"
15,cloud-custodian / cloud-custodian,"Rules engine for cloud security, cost optimiza...",353,"[Python, Go, HCL, Jinja, Shell, Makefile]"
16,SerenityOS / ladybird,Ladybird web browser,16,"[C++, CMake, Java]"
17,joaocarvalhoopen / How_to_learn_modern_Rust,A guide to the adventurer.,-,[]
18,microsoft / playwright,Playwright is a framework for Web Testing and ...,295,"[TypeScript, HTML, C++, CSS, JavaScript, Objec..."
19,d3 / d3,"Bring data to life with SVG, Canvas and HTML. 📊📈🎉",123,[JavaScript]
20,LSPosed / LSPosed,LSPosed Framework,62,"[Java, C++, Kotlin, CSS, Shell, C, Other]"
21,OpenEthan / SMSBoom,短信轰炸/短信测压/ | 一个健壮免费的python短信轰炸程序，专门炸坏蛋蛋，百万接口，多...,13,"[Python, JavaScript, HTML, Dockerfile]"
22,Azure / azure-sdk-for-js,This repository is for active development of t...,358,"[TypeScript, JavaScript, PowerShell, Shell, HT..."
23,CocoaPods / Specs,The CocoaPods Master Repo,"5,000+",[]
24,google / glog,C++ implementation of the Google logging module,115,"[C++, CMake, Starlark, Shell]"

In [75]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [83]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https:/www.billboard.com/')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [84]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
try:
    charts.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [85]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [86]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [87]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [88]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [89]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [90]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [91]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n23,Harry Styles,1,1,23
1,Bad Habit\nSteve Lacy\n2\n2\n10,Steve Lacy,2,2,10
2,Late Night Talking\nHarry Styles\n12\n3\n16,Harry Styles,12,3,16
3,Sunroof\nNicky Youre & dazy\n5\n4\n15,Nicky Youre & dazy,5,4,15
4,About Damn Time\nLizzo\n3\n1\n21,Lizzo,3,1,21
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n96\n12...,Morgan Wallen,88,42,5
96,Country On\nLuke Bryan\n-\n76\n3,Luke Bryan,,,
97,Static\nSteve Lacy\n-\n98\n1,Steve Lacy,83,18,18
98,Billie Eilish.\nArmani White\n-\n99\n1,Armani White,,,
99,Sin Fin\nRomeo Santos & Justin Timberlake\n-\n...,Romeo Santos & Justin Timberlake,93,84,4

In [92]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [102]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=(' https://www.naukri.com/hr-recruiters-consultants')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [103]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [104]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'/html/body/div[1]/div/ul/li[2]/a')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [105]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()     
time.sleep(3)

In [106]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [107]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)

#Scraping data of Designation
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
    
#Scraping data of company name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

In [108]:
print(len(Name),len(Designation),len(Company),len(Location))

50 50 50 148

In [109]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Location
0,Aakash Harit,HR Manager,Data Science Network,Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Ahmedabad
12,Mubarak,Company HR,MoneyTap,subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Founder CEO
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,Recruitment Lead Consultant
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Vadodara / Baroda
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,Trivandrum
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Asif Lucknowi
25,Shaun Rao,Manager Human Resources,Exela Technologies,Director
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Indore
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,InstaFinancials
28,kumar,Proprietor,trainin,Human Resource
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,Bengaluru / Bangalore
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Priyanka Akiri
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,HR Manager
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,Kalpana Dumpala
34,Priya Khare,Senior Manager,Independent Consultant,Executive Hiring
35,Amit Sharma,Consultant,ASCO consulting,Hyderabad / Secunderabad
36,Kanan,senior technology instructor,NY INST,Mubarak
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Company HR
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,Bengaluru / Bangalore
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,Kushal Rastogi
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Company HR
41,Ankit Sinha,Head Analytics,Suntech Global,Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Vaishnavi Kudalkar
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,HR Executive
44,Ashwini,Director Global Delivery,MRP Advisers,Mumbai
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Mahesh Babu Channa
46,Rajani Nagaraj,HR Manager,WildJasmine,HR Team Lead
47,ROHIT Kumar,Architect,LNT Private Limited,Hyderabad / Secunderabad
48,Amir Chowdhury,Managing Partner,Granular.ai,Kapil Devang
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,HR Manager

In [110]:
driver.close()

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [115]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [116]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [117]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [118]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [119]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [125]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=(' https://www.imdb.com/list/ls095964455/')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [126]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [127]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [128]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,773"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,570"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,392"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,862"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,431"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,563"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,568"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,795"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,023"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,480"

In [129]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [136]:
driver=webdriver.Chrome(r'chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://archive.ics.uci.edu/')
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [137]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [138]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [139]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [140]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [141]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [142]:
# Creating dataframe 

ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [143]:
driver.close()