# 1.Write a python program to display all the header tags from wikipedia.org.

In [51]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\2022\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\2022\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\2022\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\2022\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\2022\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\2022\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\2022\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\2022\anaconda3\lib\site-packages (from requests) (2022.6.15)

In [52]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [53]:
page_1 = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [54]:
page_1

In [161]:
soup1 = BeautifulSoup(page_1.content)

In [162]:
Header_tags = []    #empty list
for header in soup1.find_all(["h1","h2","h3","h4","h5","h6"]):
    Header_tags.append(header.name+header.text.replace("\n"," "))
Header_tags

['h1Main Page',
 'h1Welcome to Wikipedia',
 "h2From today's featured article",
 'h2Did you know\xa0...',
 'h2In the news',
 'h2On this day',
 "h2Today's featured picture",
 'h2Other areas of Wikipedia',
 "h2Wikipedia's sister projects",
 'h2Wikipedia languages',
 'h2Navigation menu',
 'h3 Personal tools ',
 'h3 Namespaces ',
 'h3 Views ',
 'h3 Search ',
 'h3 Navigation ',
 'h3 Contribute ',
 'h3 Tools ',
 'h3 Print/export ',
 'h3 In other projects ',
 'h3 Languages ']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [57]:
url= "https://www.imdb.com/list/ls091520106/"
page_2 = requests.get(url)
page_2

In [58]:
soup2 = BeautifulSoup(page_2.content)

In [59]:
# Movies Name
Name = soup2.find_all("h3", class_="lister-item-header")

In [60]:
Movies_Name = []   #emptylist

for i in Name:
    for j in i.find_all("a"):
        Movies_Name.append(j.text)

In [61]:
# IMDB Rating
Rating = soup2.find_all("div",class_="ipl-rating-star small")

In [62]:
IMDB_Rating = [] #empty list
for i in Rating:
      IMDB_Rating.append(float(i.text))

In [63]:
#Year of release
year = soup2.find_all("span",class_="lister-item-year text-muted unbold")

In [64]:
year_of_release = [] #empty list
for k in year:
    year_of_release.append(k.text)

In [65]:
# Data frame of top 100 movies on IMDB
IMDB_top_100=pd.DataFrame({})
IMDB_top_100['Movies_Name']=Movies_Name
IMDB_top_100['year_of_release']=year_of_release
IMDB_top_100['IMDB_Rating']=IMDB_Rating
IMDB_top_100

                            Movies_Name year_of_release  IMDB_Rating
0              The Shawshank Redemption          (1994)          9.3
1                         The Godfather          (1972)          9.2
2                 The Godfather Part II          (1974)          9.0
3                       The Dark Knight          (2008)          9.0
4                          12 Angry Men          (1957)          9.0
..                                  ...             ...          ...
95                   North by Northwest          (1959)          8.3
96                   A Clockwork Orange          (1971)          8.3
97                               Snatch          (2000)          8.3
98  Le fabuleux destin d'Amélie Poulain          (2001)          8.3
99                              The Kid          (1921)          8.3

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [66]:
url = "https://www.imdb.com/list/ls009997493/"
page_3 = requests.get(url)
page_3

In [67]:
soup3 = BeautifulSoup(page_3.content)

In [68]:
name = soup3.find_all("h3", class_="lister-item-header")

In [69]:
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)

In [70]:
# Year of release
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")

In [71]:
year_of_release = [] #empty list
for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')',''))

In [72]:
# IMDB Rating
rating = soup3.find_all("div",class_="ipl-rating-star small")

In [73]:
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))

In [74]:
# Data frame of top 100 India imdb movies
indian_top_100=pd.DataFrame({})
indian_top_100['movies_name']=movies_name
indian_top_100['year_of_release']=year_of_release
indian_top_100['IMDB_rating']=IMDB_rating
indian_top_100

               movies_name year_of_release  IMDB_rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.3
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.1
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.4
97     Shatranj Ke Khilari            1977          7.5
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

# 4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [75]:
url = "https://presidentofindia.nic.in/former-presidents.htm"
page_4 = requests.get(url)
page_4

In [76]:
soup4 = BeautifulSoup(page_4.content)

In [77]:
name = soup4.find_all("h3")

In [78]:
presidents_name = [] #empty list
for i in name:
    presidents_name.append(i.text.split("(")[0])

In [79]:
# Term of office
year = soup4.find_all("div",class_="presidentListing")

In [80]:
Term_of_office = [] #empty list
for j in year:
        Term_of_office.append(j.find_all("p")[0].text.split(":")[1])

In [81]:
print(len(year),len(name),len(presidents_name),len(Term_of_office))

14 14 14 14

In [82]:
Former_president=pd.DataFrame({})
Former_president["presidents_name"]=presidents_name
Former_president["Term_of_office"]=Term_of_office
Former_president

,presidents_name,Term_of_office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [83]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page_5a= requests.get(url)
page_5a

In [84]:
soup5=BeautifulSoup(page_5a.content)

In [85]:
team=soup5.find_all("span",class_="u-hide-phablet")

In [86]:
team_name=[] 
for i in team:
    team_name.append(i.text)

In [87]:
matches=[] # First place team no. of matches
for i in soup5.find_all("td",class_='rankings-block__banner--matches'):
    matches.append(i.text)

In [88]:
points=[] # First place team points
for i in soup5.find_all("td",class_='rankings-block__banner--points'):
    points.append(i.text)

In [89]:
ratings=[] # First place team ratings
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))

In [90]:
new_list=[]
# other teams number of matches and points
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):
    new_list.append(i.text)

In [91]:
 # other teams ratings   
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)

In [92]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points

In [93]:
# Data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,New Zealand,16,"2,051",128 ...
1,England,27,"3,226",119
2,India,28,"3,085",110
3,Pakistan,19,"2,005",106
4,Australia,23,"2,325",101
5,South Africa,21,"2,111",101
6,Bangladesh,27,"2,639",98
7,Sri Lanka,29,"2,658",92
8,West Indies,38,"2,621",69
9,Afghanistan,18,"1,238",69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [94]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page_5b= requests.get(url)
page_5b

In [95]:
soup5=BeautifulSoup(page_5b.content)

In [96]:
players=[]
for i in soup5.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [97]:
teams=[]
for i in soup5.find_all("div",class_="rankings-block__banner--nationality"):
    teams.append(i.text.replace("\n",""))
for i in soup5.find_all("span",class_="table-body__logo-text"):
    teams.append(i.text)

In [98]:
ratings=[]
for i in soup5.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup5.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [99]:
# Data frame of top 10 ICC player(batsmen)
Batsmen=pd.DataFrame({})
Batsmen['players']=players[:10]
Batsmen['teams']=teams[:10]
Batsmen['Ratings']=ratings[:10]
Batsmen

                 players                    teams Ratings
0             Babar Azam  PAK                         892
1            Imam-ul-Haq                      PAK     815
2  Rassie van der Dussen                       SA     789
3        Quinton de Kock                       SA     784
4            Virat Kohli                      IND     767
5           Rohit Sharma                      IND     763
6            Ross Taylor                       NZ     744
7           David Warner                      AUS     737
8         Jonny Bairstow                      ENG     732
9            Aaron Finch                      AUS     715

c) Top 10 ODI bowlers along with the records of their team and rating.

In [100]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling"
page_5c= requests.get(url)
page_5c

In [101]:
soup5=BeautifulSoup(page_5c.content)

In [102]:
players=[]
for i in soup5.find_all("div",class_="rankings-block__banner--name-large"):  #first place player
    players.append(i.text.replace("\n",""))

for i in soup5.find_all("td",class_="table-body__cell rankings-table__name name"):# for other players
    players.append(i.text.replace("\n",""))

In [103]:
teams=[]
for i in soup5.find_all("div",class_="rankings-block__banner--nationality"): #first place player
    teams.append(i.text.replace("\n",""))
    
for i in soup5.find_all("span",class_="table-body__logo-text"):# for other players
    teams.append(i.text)

In [104]:
ratings=[]
for i in soup5.find_all("div",class_="rankings-block__banner--rating"): #first place player
    ratings.append(i.text)
    
for i in soup5.find_all("td",class_="table-body__cell rating"):# for other players
     ratings.append(i.text)

In [105]:
# Data frame of top 10 ICC player(bowlers)
bowlers=pd.DataFrame({})
bowlers['players']=players[:10]
bowlers['teams']=teams[:10]
bowlers['Ratings']=ratings[:10]
bowlers

               players                    teams Ratings
0          Pat Cummins  AUS                         891
1  Ravichandran Ashwin                      IND     842
2       Shaheen Afridi                      PAK     828
3       Jasprit Bumrah                      IND     828
4        Kagiso Rabada                       SA     818
5       James Anderson                      ENG     811
6        Kyle Jamieson                       NZ     788
7          Kemar Roach                       WI     756
8          Neil Wagner                       NZ     747
9       Mitchell Starc                      AUS     739

# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [106]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page_6a=requests.get(url)
page_6a

In [107]:
soup6=BeautifulSoup(page_6a.content)

In [108]:
team=[]
for i in soup6.find_all("span",class_="u-hide-phablet"):
    team.append(i.text)

In [109]:
matches=[]
for i in soup6.find_all("td",class_="rankings-block__banner--matches"):
    matches.append(i.text)

In [110]:
points=[]
for i in soup6.find_all("td",class_="rankings-block__banner--points"):
    points.append(i.text)

In [111]:
ratings=[]
for i in soup6.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    ratings.append(i.text.replace("\n",""))
    
for i in soup6.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [113]:
new_list=[]
for i in soup6.find_all("td",class_="table-body__cell u-center-text"):
    new_list.append(i.text)

In [114]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points

In [115]:
# Data frame of top 10 ICC teams (women's)
icc=pd.DataFrame({})
icc['Team']=team[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team,Matches,Points,Ratings
0,Australia,29,"4,837",167 ...
1,England,33,"4,046",123
2,South Africa,35,"4,157",119
3,India,32,"3,219",101
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Sri Lanka,11,495,45
9,Ireland,8,351,44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [116]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page_6b=requests.get(url)
page_6b

In [117]:
soup6=BeautifulSoup(page_6b.content)

In [118]:
players=[]
for i in soup6.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup6.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [119]:
team=[]
for i in soup6.find_all("div",class_="rankings-block__banner--nationality"):
    team.append(i.text.replace("\n",""))
for i in soup6.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)

In [120]:
ratings=[]
for i in soup6.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup6.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [121]:
# Data frame of top 10 ICC player(Women_batting)
Women_batting=pd.DataFrame({})
Women_batting['players']=players[:10]
Women_batting['team']=team[:10]
Women_batting['Ratings']=ratings[:10]
Women_batting

               players                     team Ratings
0         Alyssa Healy  AUS                         785
1          Beth Mooney                      AUS     749
2       Natalie Sciver                      ENG     747
3      Laura Wolvaardt                       SA     732
4          Meg Lanning                      AUS     710
5       Rachael Haynes                      AUS     701
6    Amy Satterthwaite                       NZ     681
7       Tammy Beaumont                      ENG     667
8  Chamari Athapaththu                       SL     655
9      Smriti Mandhana                      IND     649

C) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [122]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page_6c=requests.get(url)
page_6c

In [123]:
soup6=BeautifulSoup(page_6c.content)

In [124]:
players=[]
for i in soup6.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup6.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [125]:
team=[]
for i in soup6.find_all("div",class_="rankings-block__banner--nationality"):
    team.append(i.text.replace("\n",""))
for i in soup6.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)

In [126]:
ratings=[]
for i in soup6.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup6.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [127]:
# Data frame of top 10 ICC player(Women_all_rounder)
Women_all_rounder=pd.DataFrame({})
Women_all_rounder['players']=players[:10]
Women_all_rounder['team']=team[:10]
Women_all_rounder['Ratings']=ratings[:10]
Women_all_rounder

            players                     team Ratings
0    Natalie Sciver  ENG                         379
1      Ellyse Perry                      AUS     374
2    Marizanne Kapp                       SA     349
3   Hayley Matthews                       WI     339
4       Amelia Kerr                       NZ     336
5  Ashleigh Gardner                      AUS     270
6     Deepti Sharma                      IND     252
7     Jess Jonassen                      AUS     246
8   Katherine Brunt                      ENG     220
9   Stafanie Taylor                       WI     207

# 7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline

ii) Time

iii) News Link

In [128]:
url="https://www.cnbc.com/world/?region=world"
page_7=requests.get(url)
page_7

In [129]:
soup7=BeautifulSoup(page_7.content)

In [130]:
Headline=[]
for i in soup7.find_all("div",class_="LatestNews-container"):
    for j in i.find_all("a",class_="LatestNews-headline"):
        Headline.append(j.text)

In [131]:
Time=[]
for i in soup7.find_all("span",class_="LatestNews-wrapper"):
    Time.append(i.text)

In [132]:
News_link=[]
for i in soup7.find_all("a",class_="LatestNews-headline"):
    News_link.append(i.get("href"))

In [133]:
print(len(Headline),len(Time),len(News_link))

30 30 30

In [134]:
#DataFrame
News=pd.DataFrame({})
News['Headline']=Headline
News['Time']=Time
News['News_link']=News_link
News

,Headline,Time,News_link
0,"Yum Brands reports mixed quarterly results, st...",20 Min Ago,https://www.cnbc.com/2022/08/03/yum-brands-yum...
1,The Uber recovery is real and could drive shar...,24 Min Ago,https://www.cnbc.com/2022/08/03/the-uber-recov...
2,Mortgage applications inch up for the first ti...,33 Min Ago,https://www.cnbc.com/2022/08/03/mortgage-appli...
3,CVS raises full-year forecast after beating se...,52 Min Ago,https://www.cnbc.com/2022/08/03/cvs-health-cvs...
4,Robinhood's layoffs will improve profitability...,58 Min Ago,https://www.cnbc.com/2022/08/03/robinhoods-lay...
5,"Bernstein downgrades Caterpillar, citing a slo...",2 Hours Ago,https://www.cnbc.com/2022/08/03/bernstein-down...
6,Pelosi's trip to Taiwan is like 'pouring salt ...,2 Hours Ago,https://www.cnbc.com/2022/08/03/pelosis-trip-t...
7,U.S. Treasury yields move higher ahead of new ...,3 Hours Ago,https://www.cnbc.com/2022/08/03/us-treasury-yi...
8,'It's just hell': Ukraine says Russia has the ...,5 Hours Ago,https://www.cnbc.com/2022/08/03/russia-ukraine...
9,SocGen posts second-quarter loss after taking ...,6 Hours Ago,https://www.cnbc.com/2022/08/03/socgen-earning...
10,"Climate change isn't partisan, charity founder...",6 Hours Ago,https://www.cnbc.com/2022/08/03/climate-change...
11,Bank of England tipped for biggest rate hike i...,6 Hours Ago,https://www.cnbc.com/2022/08/03/bank-of-englan...
12,These are Europe's best destinations to buy a ...,6 Hours Ago,https://www.cnbc.com/2022/08/03/best-places-in...
13,European markets mixed as cautious sentiment p...,7 Hours Ago,https://www.cnbc.com/2022/08/03/european-marke...
14,Singaporeans with low incomes continue to face...,8 Hours Ago,https://www.cnbc.com/2022/08/03/singaporeans-w...
15,U.S. House Speaker Nancy Pelosi meets Taiwan's...,9 Hours Ago,https://www.cnbc.com/2022/08/03/-us-house-spea...
16,"Eric Schmitt wins Missouri GOP Senate primary,...",10 Hours Ago,https://www.cnbc.com/2022/08/02/eric-greitens-...
17,How two teens built an app worth $900 million ...,10 Hours Ago,https://www.cnbc.com/2022/08/03/zepto-19-year-...
18,Wall Street says buy these small caps as reces...,10 Hours Ago,https://www.cnbc.com/2022/08/03/wall-street-sm...
19,These stocks are poised for a comeback if infl...,10 Hours Ago,https://www.cnbc.com/2022/08/03/stock-selectio...
20,Trump-backed gubernatorial candidate Tudor Dix...,10 Hours Ago,https://www.cnbc.com/2022/08/02/trump-backed-g...
21,Alibaba could see first revenue decline on rec...,10 Hours Ago,https://www.cnbc.com/2022/08/03/alibaba-baba-f...
22,Bankrupt crypto lending platform Celsius is tr...,11 Hours Ago,https://www.cnbc.com/2022/08/02/celsius-is-try...
23,GXO Logistics customers are doing well despite...,11 Hours Ago,https://www.cnbc.com/2022/08/02/gxo-logistics-...
24,Fed's Bullard expresses confidence that the ec...,11 Hours Ago,https://www.cnbc.com/2022/08/02/feds-james-bul...
25,"We expected more from AMD's earnings, but noth...",11 Hours Ago,https://www.cnbc.com/2022/08/02/we-expected-mo...
26,Asia markets mostly higher as investors monito...,12 Hours Ago,https://www.cnbc.com/2022/08/03/asia-markets-g...
27,Cramer's lightning round: AST SpaceMobile is n...,12 Hours Ago,https://www.cnbc.com/2022/08/02/cramers-lightn...
28,We invested in Coterra for capital returns and...,12 Hours Ago,https://www.cnbc.com/2022/08/02/we-invested-in...
29,Pioneer returns over 95% of its free cash flow...,13 Hours Ago,https://www.cnbc.com/2022/08/02/pioneer-return...

# 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details :

i) Paper Title 

ii) Authors

iii) Published Date 

iv) Paper URL

In [135]:
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
page_8=requests.get(url)
page_8

In [136]:
soup8=BeautifulSoup(page_8.content)

In [137]:
Paper_Title=[]
for i in soup8.find_all("a",class_="sc-5smygv-0 nrDZj"):
    Paper_Title.append(i.text)

In [138]:
Authors=[]
for i in soup8.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)

In [139]:
Published_Date=[]
for i in soup8.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
     Published_Date.append(i.text)

In [140]:
Paper_URL=[]
for i in soup8.find_all("a",class_="sc-5smygv-0 nrDZj"):
    Paper_URL.append(i.get("href"))

In [141]:
#DataFrame
Articles=pd.DataFrame({})
Articles['Paper_Title']=Paper_Title
Articles['Authors']=Authors
Articles['Published_Date']=Published_Date
Articles['Paper_URL']=Paper_URL
Articles

,Paper_Title,Authors,Published_Date,Paper_URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9.Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

ii) Cuisine

iii) Location 

iv) Ratings

v) Image URL

In [142]:
url="https://www.dineout.co.in/delhi-restaurants/buffet-special"
page_9=requests.get(url)
page_9

In [143]:
soup9=BeautifulSoup(page_9.content)

In [148]:
Restaurant_name=[]
for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)

In [149]:
Cuisine=[]
for i in soup9.find_all("span",class_="double-line-ellipsis"):
            Cuisine.append(i.text.split('|')[1])

In [150]:
Location=[]
for i in soup9.find_all("div",class_="restnt-loc ellipsis"):
    Location.append(i.text)

In [151]:
Ratings=[]
for i in soup9.find_all("div",class_="restnt-rating rating-4"):
    Ratings.append(i.text)

In [152]:
Image_URL=[]
for i in soup9.find_all("img",class_="no-img"):
    Image_URL.append(i.get("data-src"))

In [153]:
#DataFrame
Dineout=pd.DataFrame({})
Dineout['Restaurant_name']=Restaurant_name
Dineout['Cuisine']=Cuisine
Dineout['Location']=Location
Dineout['Ratings']=Ratings
Dineout['Image_URL']=Image_URL
Dineout

,Restaurant_name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10. Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank 

ii) Publication

iii) h5-index

iv) h5-median

In [154]:
url="https://scholar.google.com/citations?view_op=top_venues&hl=en"
page_10=requests.get(url)
page_10

In [155]:
soup10=BeautifulSoup(page_10.content)

In [156]:
Rank=[]
for i in soup10.find_all("td",class_="gsc_mvt_p"):
    Rank.append(i.text)

In [157]:
Publication=[]
for i in soup10.find_all("td",class_="gsc_mvt_t"):
    Publication.append(i.text)

In [158]:
h5_index=[]
for i in soup10.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)

In [159]:
h5_median=[]
for i in soup10.find_all("span",class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

In [160]:
#DATAFRAME
Top_publications=pd.DataFrame({})
Top_publications["Rank"]=Rank
Top_publications["Publication"]=Publication
Top_publications["h5_index"]=h5_index
Top_publications["h5_median"]=h5_median
Top_publications

    Rank                                        Publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]